body {
    background-color: #212121;
    color: #ffffff;
}

textarea, canvas {
    background-color: #484848;
    color: #ffffff;
    font-family: monospace;
    /* border-color: red; */
}


canvas { 
    border: 1px solid red; 
}